<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solid Steel - Registro</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style_register.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/style_general.css' %}">
</head>
<body>
    <header class="bg-dark text-white text-center p-4"></header>

    <main class="container mt-5">
        <div class="d-flex justify-content-center">
            <div class="card p-4 shadow-lg" style="max-width: 500px; width: 100%;">
                <div class="d-flex justify-content-left">
                    <button class="btn btn-outline-secondary" onclick="window.location.href='{% url 'index' %}'">
                        <span class="me-1">&larr;</span> Volver
                    </button>
                </div>
                
                {% if messages %}
                    <div class="alert alert-warning">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <div class="d-flex justify-content-center mb-3">
                    <h2>Regístrate como Cliente</h2>
                </div>

                <form id="register-form" method="POST" action="" enctype="multipart/form-data" onsubmit="return validateForm()">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_client_first_name" class="form-label">Nombre</label>
                        {{ form.client_first_name }}
                        <small id="nameHelp" class="form-text text-danger d-none">El nombre solo debe contener letras.</small>
                    </div>
                    <div class="mb-3">
                        <label for="id_client_last_name" class="form-label">Apellido</label>
                        {{ form.client_last_name }}
                        <small id="lastNameHelp" class="form-text text-danger d-none">El apellido solo debe contener letras.</small>
                    </div>
                    <div class="mb-3">
                        <label for="id_client_phone" class="form-label">Número de Teléfono</label>
                        {{ form.client_phone }}
                        <small id="phoneHelp" class="form-text text-danger d-none">El número debe tener al menos 10 dígitos.</small>
                    </div>
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Correo Electrónico</label>
                        {{ form.email }}
                        <small id="emailHelp" class="form-text text-danger d-none">El correo solo puede contener letras, números, '.', '_', '-', y '@'.</small>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="passwordField" class="form-label">Contraseña</label>
                        <div class="input-group">
                            <input type="password" id="passwordField" name="password" class="form-control" required>
                            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()" style="border-left: none;">
                                <i id="eyeIconClosed" class="bi bi-eye-slash"></i>
                                <i id="eyeIconOpen" class="bi bi-eye" style="display: none;"></i>
                            </button>
                        </div>
                        <small id="passwordHelp" class="form-text text-danger d-none">
                            La contraseña debe tener al menos 8 caracteres, un número y un carácter especial.
                        </small>
                    </div>

                    <!-- Campo para subir identificación oficial -->
                    <div class="mb-3">
                        <label for="id_identificacion" class="form-label">Subir Identificación Oficial</label>
                        <input type="file" name="identificacion" class="form-control" required>
                        <small id="identificacionHelp" class="form-text text-danger d-none">La identificación debe ser un archivo de imagen en formato JPEG, PNG o BMP.</small>
                    </div>

                    <!-- Campo de cámara o carga de imagen -->
                    <div class="mb-3" id="photo-section">
                        <label for="foto_actual" class="form-label" id="title_foto_actual">Foto Actual</label>
                        <div class="d-flex flex-column align-items-center" id="camera-section" style="display: none;">
                            <video id="video" width="100%" autoplay></video>
                            <canvas id="canvas" style="display: none;"></canvas>
                            <button type="button" id="capture-btn" class="btn btn-primary mt-2">Tomar Foto</button>
                            <img id="photo-preview" src="#" alt="Foto previa" style="display: none; width: 100%; max-width: 300px;">
                        </div>

                        <div id="file-upload-section">
                            <label for="id_foto_actual" class="form-label">Subir foto actual</label>
                            <input type="file" name="foto_actual" class="form-control" accept="image/*">
                            <small id="fotoHelp" class="form-text text-danger d-none">La foto debe ser un archivo de imagen en formato JPEG, PNG o BMP.</small>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark w-100">Registrar</button>
                </form>

                <div class="text-center mt-3">
                    <a href="{% url 'client_login' %}" class="text-muted">¿Ya tienes una cuenta? Inicia sesión como cliente</a>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-light text-center py-4 mt-5">
        <div class="container">
            <p class="mt-3">&copy; 2024 Solid Steel. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function togglePassword() {
            const passwordField = document.getElementById('passwordField');
            const eyeIconClosed = document.getElementById('eyeIconClosed');
            const eyeIconOpen = document.getElementById('eyeIconOpen');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                eyeIconClosed.style.display = 'none';
                eyeIconOpen.style.display = 'block';
            } else {
                passwordField.type = 'password';
                eyeIconClosed.style.display = 'block';
                eyeIconOpen.style.display = 'none';
            }
        }

        function validateForm() {
            let isValid = true;
            // Validaciones de formulario (nombre, apellido, teléfono, correo, etc.)
            // Agrega las validaciones necesarias como en el formulario del proveedor
            return isValid;
        }

        document.addEventListener("DOMContentLoaded", function() {
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const captureBtn = document.getElementById('capture-btn');
            const photoPreview = document.getElementById('photo-preview');
            const cameraSection = document.getElementById('camera-section');
            const fileUploadSection = document.getElementById('file-upload-section');
            const fotoInput = document.querySelector("input[name='foto_actual']");

            let isCameraAvailable = false;

            navigator.mediaDevices.enumerateDevices()
                .then(devices => {
                    const videoDevices = devices.filter(device => device.kind === 'videoinput');
                    if (videoDevices.length > 0) {
                        return navigator.mediaDevices.getUserMedia({ video: true });
                    } else {
                        throw new Error("No se encontraron dispositivos de cámara.");
                    }
                })
                .then(stream => {
                    isCameraAvailable = true;
                    video.srcObject = stream;
                    cameraSection.style.display = "block";
                    fileUploadSection.style.display = "none";
                })
                .catch(error => {
                    console.error("No se puede acceder a la cámara:", error);
                    cameraSection.style.display = "none";
                    fileUploadSection.style.display = "block";
                });

            captureBtn.addEventListener("click", () => {
                if (isCameraAvailable) {
                    const context = canvas.getContext("2d");
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    context.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);

                    const imageDataURL = canvas.toDataURL("image/png");
                    photoPreview.src = imageDataURL;
                    photoPreview.style.display = "block";

                    fetch(imageDataURL)
                        .then(res => res.blob())
                        .then(blob => {
                            const file = new File([blob], "foto_actual.png", { type: "image/png" });
                            const dataTransfer = new DataTransfer();
                            dataTransfer.items.add(file);
                            fotoInput.files = dataTransfer.files;
                        });
                }
            });

            document.getElementById("register-form").addEventListener("submit", function(event) {
                if (cameraSection.style.display === "block" && photoPreview.style.display === "none") {
                    event.preventDefault();
                    alert("Por favor, captura una foto antes de enviar el formulario.");
                }
            });
        });
    </script>
</body>
</html>
