{% extends "base_without_image.html" %}
{% load static %}

{% block title %}Carrito de Compras - Solid Steel{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'general/css/style_general.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_cart.css' %}">
{% endblock %}

{% block content %}
<main class="container mt-5">
    <h2 class="carrito">Carrito</h2>
    <div class="list-group">
        {% if carrito %}
        {% for key, item in carrito.items %}
        <div class="list-group-item">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ item.imagen }}" class="img-fluid" alt="{{ item.nombre }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.nombre }}</h5>
                            <p class="price"><strong>${{ item.precio }}</strong></p>
                            <p>Cantidad: {{ item.cantidad }}</p>
                            <a href="{% url 'agregar_al_carrito' key %}" class="btn btn-secondary">+1</a>
                            <a href="{% url 'eliminar_del_carrito' key %}" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
        {% else %}
            <p>No hay productos en tu carrito.</p>
        {% endif %}
    </div>

    <div class="payment-container mt-4">
        <p>Total: ${{ total }}</p>
        <button class="btn btn-primary" onclick="window.location.href='{% url 'shipping' %}'">Pagar</button>
    </div>
</main>
{% endblock %}
