{% extends "base_without_image.html" %}
{% load static %}

{% block title %}Establecer Informacion del Envio - Solid Steel{% endblock %}

{%block head%} <link rel="stylesheet" href="{% static 'css/client_style.css' %}"> {%endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
           
        </div>

        <div class="col-md-8">
<h2 class align="center">{% if form.instance.id_address %}Actualizar{% else %}Agregar{% endif %} Dirección de Cliente</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary botones" align="center"  type="submit">{% if form.instance.id_address %}Actualizar{% else %}Agregar{% endif %}</button>
</form>

<div class="payment-container mt-4">
    <div class="container">
        <div class="row">
            <div class="col" class align="center">

                <form action="{% url 'iniciar_pago' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary"  {% if total == 0 %}disabled{% endif %}>
                        Pagar
                    </button>
                </form>

            </div>

            <div class="col"  >

                <form action="{% url 'cart' %}" method="POST">

                    {% csrf_token %}
                    <button type = "submit" id = "checkout-button" class="btn btn-primary" {% if total == 0 %}disabled{% endif %}>Pagar con Stripe</button>
        
                </form>

            </div>
        </div>

        <div class="col-md-2">

        </div>

    </div>
</div>
        </div>
    {% endblock %}