<h1>Historial de Compras</h1>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Fecha de Pago</th>
        </tr>
    </thead>
    <tbody>
        {% for item in historial %}
        <tr>
            <td>{{ item.product_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.price }}</td>
            <td>${{ item.total }}</td>
            <td>{{ item.payment_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
