/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 2rem;
}



p {
    color: #6c757d;
    font-size: 1.1rem;
}

.card {
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
}

footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
}

footer img {
    filter: grayscale(100%);
}

footer img:hover {
    filter: none;
}

.information-box {
    background-color: #fff;  /* Color de fondo blanco */
    border: 1px solid #ccc;  /* Borde gris claro */
    border-radius: 8px;      /* Bordes redondeados */
    padding: 20px;           /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 100%;             /* Ancho completo en móviles */
    max-width: 500px;        /* Ancho máximo en pantallas grandes */
}


h3 {
    color: red;
}