{% extends "base_without_image.html" %}

{% block title %} {%endblock%}

{% block content %}



<div class="tarjeta" style="padding: 20px; margin: 0 20px"> 

    <div class="card mb-3" style="border: none"  >
        <div class="row g-0">
          <div class="col-md-5">
            <img src="{{product_info.product_image.url}}" class="img-fluid h-100" style="object-fit: cover" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              
              <h7 class="card-title">{{product_info.product_name}} </h7>
              <h3 class="card-title">{{product_info.product_price}} </h3>
              <p class="card-text">{{product_info.product_material}}&nbsp; • &nbsp;{{product_info.product_description}}&nbsp; • &nbsp; Espesor: &nbsp;{{product_info.product_thickness}}</p>
                <div class="d-grid gap-2">
                    <label for="nombre">Cantidad</label>
                    <input type="text" id="nombre" name="nombre">
                    <button class="btn btn-primary" type="button" style="background-color: #2C2C2C; border-color: #2C2C2C">Agregar al carrito</button>
                </div>
              <p class="card-text"><small class="text-body-secondary">
                <p class="d-inline-flex gap-1">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="background-color: #2C2C2C; border-color: #2C2C2C">
                      Envio por parte del vendedor
                    </a>
                    
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      El envio sera realizado por el vendedor, se proporcionara una clave de seguimiento y se podra visualizar la etapa de la gestion.
                    </div>
                  </div>
                  
              </small></p>
              
            </div>
          </div>
        </div>
      </div>


</div>
<div style="padding: 20px; margin: 0 20px">

    <h4>Productos Similares</h4>
    <p>Otras Opciones</p>

</div>
<div class="container">
    <div class="row">
    {% for Product in productos|slice:":3" %}

        <div class="col-sm-4"><!--Columna Abre-->
        <div class="card" style="width: 100%; height:95%; "><!--Card Abre-->

            <img src="{{Product.product_image.url}}" class="card-img-top ">
            <div class="card-body" style=" padding: 10px"><!--Card Body Abre-->
                <h6 class="card-title"style="padding-top: 25%; ">{{Product.product_name}}</p>
                    <p class="card-text">$&nbsp;{{Product.product_price}}</p>
                
            </div><!--Card Body Cierre-->
        </div><!--Card Cierre-->
        </div> <!--Columna Cierre-->

    {% endfor %}
    </div>  
    </div>

    

{% endblock %}