{% extends "base_supplier.html" %}

{%block title%} Agregar Nuevo Producto{% endblock %}

{%block head%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/menus_supplier.css' %}">

{% endblock %}

{%block content%}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            Agregar Producto
        </div>

        <div class="col-md-9">
            
        </div>
        <div class="d-flex justify-content-left ">
            <button class="btn btn-outline-secondary" onclick="window.location.href='{% url 'supplier_menu' %}'">
                <span class="me-1">&larr;</span> Volver
            </button>
        </div>

    </div>
</div>

<div>
    <form method=post enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-3 botones">Subir Producto</button>
    </form>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
               <!--
                <img src="{% static 'images/subir-imagen.png' %}" alt="" class="img-fluid">
                <button>Subir Imagen</button>
                -->
            </div>
    
            <div class="col-md-8">
                <!--
                <label for="NombreProducto" class="form-label">Nombre del producto</label>
                <input type="text" class="form-control cantidad" id="NombreProducto" name="nombre_producto" required placeholder="Valor">

                <label for="DescripcionProducto" class="form-label">Descripcion del producto</label>
                <input type="text" class="form-control cantidad" id="DescripcionProducto" name="descripcion_producto" required placeholder="Valor">

                <label for="CantidadProducto" class="form-label">Cantidad</label>
                <input type="number" class="form-control cantidad" id="CantidadProducto" name="cantidad_producto" required placeholder="Valor">

                <label for="StockProducto" class="form-label">Stock</label>
                <input type="number" class="form-control cantidad" id="StockProducto" name="stock_producto" min="1" required placeholder="Valor">

                <label for="WidthProducto" class="form-label">Ancho</label>
                <input type="number" class="form-control cantidad" id="WidthProducto" name="ancho_producto" min="0" required placeholder="Valor">

                <label for="HeigthProducto" class="form-label">Ancho</label>
                <input type="number" class="form-control cantidad" id="HeigthProducto" name="alto_producto" min="0" required placeholder="Valor">

                <label for="ThicknessProducto" class="form-label">Ancho</label>
                <input type="number" class="form-control cantidad" id="ThicknessProducto" name="grueso_producto" min="0" required placeholder="Valor">

                <label for="MaterialProducto" class="form-label">Ancho</label>
                <input type="text" class="form-control cantidad" id="MaterialProducto" name="material_producto" min="0" required placeholder="Valor">
                -->
            </div>
    
        </div>
    </div>

</div>

<div class align="center">
    <!--
    <button type="submit" class="btn btn-success mt-3 botones">Subir Producto</button>
    -->
</div>

{% endblock %}