{% extends "base_supplier.html" %}

{%block title%} Agregar Nuevo Producto{% endblock %}

{%block head%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/menus_supplier.css' %}">

{% endblock %}

{%block content%}


<div class="container">
    <div class="row">

        <div class="col-md-2">
                
            <div class="d-flex justify-content-left ">

                <button class="btn btn-outline-secondary" style="margin-top:20px;" onclick="window.location.href='{% url 'supplier_menu' %}'">
                    <span class="me-1">&larr;</span> Volver
                </button>
            </div>
        </div>
        

    </div>
    <div class="section-title text-center">
        <h2>Actualizar Datos</h2>
    </div>
    </div>
</div>

<div>
  
    <div class="container">
        <div class="row">
            <div class="col-md-2">
               
            </div>
    
            <div class="col-md-8">
                <form method=post enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class align="center">
                        <button type="submit" class="btn btn-success mt-3 botones">Subir Producto</button>
                    </div>
                    
                </form>
               
            </div>

            <div class="col-md-2">

            </div>
    
        </div>
    </div>

</div>



{% endblock %}