 {% extends "base_supplier.html" %}
   {% block title %}Retirar saldo{% endblock title %} 
   {% block header %}
   {% load static %}

   <link rel="stylesheet" href="{% static 'css/saldo.css' %}">{% endblock %}
   
 {% block content %}

    <main class="main-container">
        <div class="container">
            <div class="section-title text text-center">
                <h1>Retiro de saldo</h1>
            </div>
            <div class="row justify-content-center">
                <!-- Sección del saldo y cuenta -->
                <div class="col-md-5 saldo">
                    <h2 class="text-center">Saldo</h2>
                    <div class="saldo-info text-center">
                        <i class="fas fa-wallet saldo-icon"></i> <!-- Icono de la cartera -->
                        <span class="saldo-cantidad d-block">${{supplier.balance}}</span>
                    </div>
    
                    <!-- Botones y campo de cantidad -->
                    <div class="mt-4">
                        <button type="button" class="button-continue w-100" onclick="window.location.href='/supplier/editar-retiro/'">Cambiar datos de retiro</button>
                        <div class="form-group">
                            <label for="cantidad">Cantidad</label>
                            <input type="number" class="form-control" id="cantidad" placeholder="$">
                        </div>
                        <button class="button-continue w-100 mt-4" onclick="window.location.href='{% url 'confirmacion_retiro' %}'">Retirar Saldo</button>
                    </div>
                </div>
    
                <!-- Sección de detalles -->
                <div class="col-md-4 detalles-titular text-left align-self-start-0">
                    <h5 class="fw-bold">Nombre del titular</h5>
                    <p>{{supplier.supplier_name}}</p>
                    <h5 class="fw-bold">Cuenta de Paypal</h5>
                    <p>asdaewewads@#####.com</p>
                </div>
            </div>
        </div>
    </main>
    
    

{% endblock %}
