
{% extends "base_supplier.html" %}


{%block title%} Saldo {%endblock%}

{%block header%} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/saldo.css' %}">


{%endblock%}

    {% block content %}

    
    


 
    <main class="main-container">
        <div class="container">
            <div class="row">
        
                <div class="col-md-2">
                        
                    <div class="d-flex justify-content-left ">
        
                        <button class="btn btn-outline-secondary" style="margin-top:20px;" onclick="window.location.href='{% url 'supplier_menu' %}'">
                            <span class="me-1">&larr;</span> Volver
                        </button>
                    </div>
                </div>
                
        
            </div>
            <div class="section-title text-center">
                <h2>Saldo y Cuenta</h2>
            </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row justify-content-center align-items-stretch"> <!-- align-items-stretch fuerza las columnas a tener la misma altura -->
                <!-- Columna de Movimientos -->
                <div class="col-md-6 col-lg-4 d-flex flex-column movimientos mx-lg-2"> <!-- Añadir flex-column para alinear el contenido internamente -->
                    <h2>Movimientos</h2>
                    <ul class="movimientos-lista flex-grow-1"> <!-- flex-grow-1 para que se extienda si es necesario -->
                        {% for movimiento in movimientos %}
                        <li class="movimiento-item">
                            <div class="movimiento-tipo">
                                <span>{{ movimiento.tipo }}</span>
                                {% if movimiento.tipo == 'Compra' %}
                                <span class="movimiento-id">ID: {{ movimiento.id }}</span>
                                {% endif %}
                            </div>
                            <div class="movimiento-monto {% if movimiento.tipo_mov == 'negativo' %}negativo{% else %}positivo{% endif %}">
                                {{ movimiento.monto|floatformat:2 }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- Enlace para revisar todos los movimientos -->
                    <a href="{% url 'todos_los_movimientos' %}" class="link-all-movimientos">Ver todos</a>
                </div>
        
                <!-- Columna de Saldo -->
                <div class="col-md-6 col-lg-4 d-flex flex-column saldo mx-lg-2"> <!-- flex-column para ajustar contenido -->
                    <h2>Saldo</h2>
                    <div class="saldo-info text-center flex-grow-1"> <!-- flex-grow-1 para mantener el tamaño equilibrado -->
                        <i class="fas fa-wallet saldo-icon"></i> <!-- Icono de Font Awesome -->
                        <span class="saldo-cantidad d-block">${{ saldo }}.00</span>
                    </div>
                    <button type="button" class="button-refresh w-100" onclick="window.location.href='{% url 'retirar_saldo' %}'">Retirar Saldo</button>
                    <button type="button" class="button-continue w-100" onclick="window.location.href='/supplier/editar-retiro/'">Cambiar datos de Retiro</button>
                </div>
            </div>
        </div>
        
    </main>
    {% endblock %}