{% extends "base_without_image.html" %}

{% block title %} Productos del proveedor {% endblock %}

{% block content%}

{%block head%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/menus_supplier.css' %}">

{% endblock %}

<!--Header botones-->
<div class="header-botones ">
    <div class="container">
        <div class="row">
            <!--Sección del logo-->
            <div class="col-md-3">
                Catálogo de supplier
            </div>

            <!--Sección botones-->
            <div class="col-md-9 ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-auto">
                            <a href=" {%url 'update_stock'%}" type="button" class="btn btn-primary btn-sm botones">Actualizar Inventario</a>
                        </div>
                        <div class="col-sm-auto">
                            <a href=" {%url 'add_product'%}" type="button" class="btn btn-primary btn-sm botones">Cargar Nuevo Producto</a>
                        </div>
                        <div class="col-sm-auto">
                            <button type="button" class="btn btn-primary btn-sm botones">Saldo y Cuenta</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cartas de productos -->
<div class="margen">
    <div class="container">
        <div class="row">
            {% for Product in productos %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <a href=" {% url 'product_detail' Product.id_product %}" class="text-decoration-none">
                    <div class="card cartas">
                        <img src="{{Product.product_image.url}}" class="card-img-top">
                        <div class="card-body">
                            <h6 class="card-title text-center">Stock {{Product.product_stock}}</h6>
                            <p class="card-text description">{{Product.product_name}} - {{Product.product_height}} - {{Product.product_thickness}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
