{% extends "base_no_cart.html" %}
{% load static %}

{% block title %}
    Solid Steel - New Password
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style_new_password.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="card shadow">
        <div class="d-flex justify-content-left ">
            <button class="btn btn-outline-secondary" onclick="window.location.href='{% url 'verify_reset_code' %}'">
                <span class="me-1">&larr;</span> Volver
            </button>                       
        </div>
        <h2 class="text-center mb-4">Crear nueva contraseña:</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="email" class="form-label">Correo electrónico:</label>
                <input type="email" name="email" class="form-control" value="{{ email }}" readonly>
            </div>
            <div class="mb-4">
                <label for="new_password" class="form-label">Nueva contraseña:</label>
                <input type="password" name="new_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-dark w-100">Restablecer contraseña</button>
            {% if error %}
                <p class="text-danger mt-3">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</main>
{% endblock %}